<div
class="toolbar text-default w-full px-6 flex items-start justify-between p-2">
<div class="sidenav-toolbar flex-none flex items-end cursor-pointer" (click)="login()">
  <a  class="ltr:mr-4 rtl:ml-4 flex items-center">
    <img alt="Logo" class="w-8 select-none" src="assets/img/logo/log.png" />
    <h1 class="text-2xl font-bold tracking-wide ltr:pl-4 rtl:pr-4 m-0 select-none">
      {{ title$ | async }}
    </h1>
  </a>
    </div>
  
    <div class="flex flex-wrap gap-2 py-2">
      <button 
        class="text-primary-500 border border-transparent hover:border-primary-500 py-2 px-4 rounded" 
        mat-stroked-button 
        type="button" 
        (click)="login()">
        Log In
      </button>
      <button 
        class="bg-primary-600 border border-transparent hover:border-primary-500 py-2 px-4 rounded" 
        mat-stroked-button 
        type="button" 
        (click)="register()">
        <span class="text-white">Sign Up</span>
      </button>
      <!-- <button 
        mat-raised-button 
        color="primary" 
        class="py-2 px-4 rounded"
        (click)="register()">
        Sign Up
      </button> -->
      <!-- <vex-change-languague></vex-change-languague> -->
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
  
  