<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.svg" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Reset Password</h2>
      <h4 class="body-2 text-secondary m-0">
        Enter your email for password recovery.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <!-- Email Field -->
      <mat-form-field class="flex-auto">
        <mat-label>Email</mat-label>
        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
        <input formControlName="email" matInput required type="email" />
      </mat-form-field>
      <div class="text-red-500 space-y-2" *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
        <div *ngIf="form.get('email')?.hasError('required')">
          Email is required
        </div>
        <div *ngIf="form.get('email')?.hasError('minlength')">
          Email must be at least 8 characters
        </div>
        <div *ngIf="form.get('email')?.hasError('maxlength')">
          Email cannot exceed 254 characters
        </div>
        <div *ngIf="form.get('email')?.hasError('email') || form.get('email')?.hasError('pattern')">
          Please enter a valid email address
        </div>
      </div>
      

      <button
      [disabled]="form.invalid"
        (click)="send()"
        class="mt-2"
        color="primary"
        mat-raised-button
        type="button">
        SEND RECOVERY LINK
      </button>
    </div>
  </div>
</div>
