.status-pending {
    color: orange;
    font-weight: 500;
  }
  
  .status-accepted {
    color: green;
    font-weight: 500;
  }
  
  .status-rejected {
    color: red;
    font-weight: 500;
  }
  .status-preselected {
    color: rgb(83, 83, 197);
    font-weight: 500;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
                0 8px 10px 1px rgba(0,0,0,.14), 
                0 3px 14px 2px rgba(0,0,0,.12);
  }

  .job-selector {
    width: 300px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }

  .details-snackbar {
    white-space: pre-line; /* Pour conserver les sauts de ligne */
    max-width: 80vw !important;
  }

  .action-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .status-indicator {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    
    &.accepted {
      background-color: rgba(76, 175, 80, 0.15);
      
      .status-icon {
        color: #4CAF50;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
    
    &.rejected {
      background-color: rgba(244, 67, 54, 0.15);
      
      .status-icon {
        color: #F44336;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
    
    &.preselected {
      background-color: rgba(255, 193, 7, 0.15);
      
      .status-icon {
        color: #FFC107;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
    
    &.pending {
      background-color: rgba(158, 158, 158, 0.15);
      
      .status-icon {
        color: #9E9E9E;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
  }
  
  /* Styles pour le menu */
  .mat-menu-item {
    display: flex;
    align-items: center;
  }
  
  .mat-menu-item .mat-icon {
    margin-right: 8px;
  }
  
  /* Ajuster l'alignement dans la cellule d'actions */
  .mat-column-actions {
    min-width: 80px;
  }