<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs
    [crumbs]="['Dashboard', 'Home']"
    class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="container p-6">
  <h1 class="display-2">Welcome, {{ user.name }}</h1>

  <div *ngIf="user?.role === 'RECRUTEUR'" class="mt-8">
    <h2 class="title">Candidatures</h2>

    <div class="job-selector">
      <mat-form-field appearance="outline">
        <mat-label>Sélectionnez un poste</mat-label>
        <mat-select
          [(ngModel)]="selectedJobTitle"
          (selectionChange)="onJobSelected()">
          <mat-option *ngFor="let title of jobTitles" [value]="title">
            {{ title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Candidate Column -->
      <ng-container matColumnDef="candidate">
        <th mat-header-cell *matHeaderCellDef>Candidat</th>
        <td mat-cell *matCellDef="let element">{{ element.candidate }}</td>
      </ng-container>

      <!-- Job Column -->
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef>Poste</th>
        <td mat-cell *matCellDef="let element">{{ element.job }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span [class]="'status-' + element.status.toLowerCase()">
            {{ element.status }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="updateApplicationStatus(element.id, 'ACCEPTED')"
            [disabled]="element.status === 'ACCEPTED'">
            <mat-icon color="primary" svgIcon="mat:check"></mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="updateApplicationStatus(element.id, 'REJECTED')"
            [disabled]="element.status === 'REJECTED'">
            <mat-icon color="warn" svgIcon="mat:close"></mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="updateApplicationStatus(element.id, 'PRESELECTED')"
            [disabled]="element.status === 'PRESELECTED'">
            <mat-icon
              color="accent"
              svgIcon="mat:check_circle_outline"></mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Détails</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="viewDetails(element)">
            <mat-icon color="primary" svgIcon="mat:visibility"></mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>
